{% extends "includes/app.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <ul>
        <h1>User List</h1>
        {% for item in array %}
            <label for="">User Name</label>
            <li>{{ item.getName() }}</li>
            <label for="">User Email</label>
            <li>{{ item.getEmail() }}</li>
        {% endfor %}
    </ul>
{% endblock %}
